Pictures/
Programs/
.local/
.cabal/
.dbus/
.cache/
Applications/
build-repos/
other/
	.gnupg/
	.ssh/
.ghc/ghci_history
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.viminfo
.bash_history
.lesshst
.fzf.bash
.fzf.zsh
.python_history
.xsel.log
.Xauthority
.config/base16-shell
.darcs/
.fzf/
.gnupg/
.ipython/
.jupyter/migrated
.ssh/
.zshrc

.cabal
.ghc/
